In [1]:
import pandas as pd

In [2]:
df= pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')
df.head(2)

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217

In [3]:
pd.__version__

'2.3.1'

In [4]:
df.shape

(9704, 11)

In [5]:
df.fuel_type.unique()

array(['Gasoline', 'Diesel'], dtype=object)

In [9]:
for x in df.columns:
    if df[x].isna().sum()>0:
        print(x, " ", df[x].isna().sum())

num_cylinders   482
horsepower   708
acceleration   930
num_doors   502

In [10]:
df.columns

Index(['engine_displacement', 'num_cylinders', 'horsepower', 'vehicle_weight',
       'acceleration', 'model_year', 'origin', 'fuel_type', 'drivetrain',
       'num_doors', 'fuel_efficiency_mpg'],
      dtype='object')

In [14]:
df[df['origin']=='Asia']['fuel_efficiency_mpg'].max()

np.float64(23.759122836520497)

In [15]:
df['horsepower'].median()

np.float64(149.0)

In [16]:
df['horsepower'].mode()

0    152.0
Name: horsepower, dtype: float64

In [19]:
df['horsepower'].fillna(152, inplace = True)

In [21]:
df['horsepower'].median()

np.float64(152.0)

In [22]:
df_asia = df[df['origin']=='Asia'][['vehicle_weight', 'model_year']]
df_asia = df_asia.head(7)

In [23]:
df_asia

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019

In [24]:
X = df_asia.to_numpy()
X

array([[2714.21930965, 2016.        ],
       [2783.86897424, 2010.        ],
       [3582.68736772, 2007.        ],
       [2231.8081416 , 2011.        ],
       [2659.43145076, 2016.        ],
       [2844.22753389, 2014.        ],
       [3761.99403819, 2019.        ]])

In [26]:
XTX = X.T @ X

In [29]:
import numpy as np
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [32]:
((np.linalg.inv(XTX) @ X.T) @ y ).sum()

np.float64(0.5187709081074016)